.templates-list-wrapper {
  position: fixed;
  z-index: 9998;
  top: 50%;
  right: 20px;
  width: 8px;
}
.templates-list {
  width: 8px;
  height: 8px;
  background: #52bad5;
  border-radius: 6px;
  float: left;
  margin: 4px auto;
  opacity: .5;
  cursor: pointer;
  transition: opacity .3s;
}
.templates-list.active {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .templates-list-wrapper {
    display: none;
  }
}
